<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="FitnessManagementSystem Login Screen">
        <meta name="keywords" content="LoginScreen">
        <meta name="author" content="Nur Afikah">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <link rel="stylesheet" href="/css/Register.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <title>Glowterx</title>
    </head>
    <body>
        <div class="container">
            <div class="col">
            </div>
        </div>

        <p class="title">Hello There !</p>
        <p class="description">Please fill in the form below to set up your trainee account.</p>

        <img src="Images/register.jpg" alt="login">

        <a href="/" class="d-flex align-items-center col-md-3 mb-4 mb-md-0 text-dark text-decoration-none">
            <div class="Nav-Logo">glowterx</div>
        </a>
        <form action="Register.html" method="post">
            <div class="mb-3">
                <label for="fullname" class="fullname">Name</label>
                <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full Name">
            </div>
            <div class="mb-3">
                <label for="phoneNo" class="phoneNo">Phone Number</label>
                <input type="text" class="form-control" name="phoneNo" id="phoneNo" placeholder="+601X-XXXXXXX">
            </div>
            <div class="mb-3">
                <label for="email" class="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="emailname@example.com">
            </div>
            <div class="mb-3">
                <label for="password" class="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" id="submit">Sign Up</button>
        </form>

    </body>
</html>